div:first-child {
  margin: 270px 0 100px;
}

p {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    height: 55px;
    width: 304px;
    background: #434343;
    border: 1px solid #434343;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 20px;
  }
}

