.account-container {
  padding: 36px;

  h2 {
    text-align: center;
    padding-bottom: 40px;
  }

  p {
    padding-bottom: 30px;
  }

  button {
    height: 55px;
    background: #434343;
    border: 1px solid #434343;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 20px;
    display: block;
    margin-top: 30px;
    width: 193px;
  }
}



